
body{
    background-image: url(../imagens/fundo1.gif);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 10px;
  } 

  .img-programador{
    transition:500ms;
    height: 550px;
  }

  .img-programador:hover{
    height: 560px;
  }

  .titulo{
    transition: 500ms;
    font-family: 'Stick No Bills', sans-serif;
    font-size: 3rem;
  }

  .sub-titulo:hover {
    transition: 500ms;
    font-size: 2.6rem;
  }
  
  .tamanho-logo{
    transition: 500ms;
    height: 131px;
  }

  .sub-titulo {
    transition: 500ms;
    font-size: 2.5rem;
  }

  .tamanho-logo:hover{
    transition: 500ms;
    height: 140px;
  }

  .titulo:hover{
    font-size: 5rem;
  }

  .img-programador:hover {
    filter: blur(2px);
  }

  .j-c-f-e{
    justify-content: flex-end;
  }

  .btn-menu{
    padding: 10px;
    color: white;
    margin-left: 15px;
    background-color: transparent;
    box-shadow: none;
    height: 35px;
  }

  .btn-menu:hover {
    transition: 500ms;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    color: black;
    text-decoration: none;
    box-shadow: inset #ff0000;
    font-weight: 700;
  }

  .btn-menu:active{
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    color: black;
    text-decoration: none;
  }

  .font-size-7rem{
    font-size: 7rem;
  }

  .text-align-center{
    text-align: center;
  }

  .color-white{
    color: white;
  }
  
  .align-items-center{
    align-items: center;
  }


  .white{
    color: white;
  }

  .m-t-30{
    margin-top: 30px!important;
  }

  .italic{
    font-style: italic
  }

  .sobre{
    display: block;
  }

  .j-f-c-c{
    justify-content: center!important;
  }

  .footer{
    width: 99%;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    }

    .m-b-15 {
      margin-bottom: 15px!important;
    }

    .img-footer {
      height: 90px;
      opacity: 50%;
    }

    .img-footer:hover{
      transition: 500ms;
      opacity: 100%;
    }

    #img-footer > title{
      color: #ff0000;
    }

    .box-contato{
      background-color: white;
      width: 50%;
      height: 10%;
      border-radius: 15px;
      transition: 500ms;
    }

    .box-contato:hover{
      height: 50%;
      transition: 500ms;
    }

    #contato1{
      transition: 1000ms;
      display: none;
    
    }

    #contato2{
      transition: 1000ms;
      display: none;
    }

    #box svg{
      color: #000000;
      width: 30px;
      height: 30px;
    }

    .m-l-15p{
      margin-left: 15%;
    }

    